<!--
Example taken from W3Schools
https://www.w3schools.com/angular/angular_application.asp
-->

<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
    /* 
      STEP 1.B
      Write the function to add an item 
    */

    /*
    $scope.addItem = function () {
      // Add a check in case the box is empty!
      // if (!$scope.addMe) {return;}
      // Add an item to the list!
      // $scope.products.push($scope.addMe);
    }    
    */ 

    /*
      STEP 2.B
      Write the function to remove an item
    */

    /*
    $scope.removeItem = function (x) {
      // Remove the item from the products 'list'
      $scope.products.splice(x, 1);
    }
    */
});
</script>

<div ng-app="myShoppingList" ng-controller="myCtrl">
  <ul>
    <!--The repeater to display all the products stored-->
    <li ng-repeat="x in products">{{x}}
      <!--STEP 1.A-->
      <!-- Add the remove button and hook it up to the remove function -->
      <!-- <span ng-click="removeItem($index)">×</span> -->
      </li>
  </ul>
    <!-- STEP 2.A -->
    <!-- Add the input box for the user -->
    <!-- <input ng-model="addMe"> -->
    <!-- Add the button to call the function -->
    <!-- <button ng-click="addItem()">Add</button> -->
</div>

<p>Click the little x to remove an item from the shopping list.</p>

</body>
</html>
