<!--
Example taken from W3Schools
https://www.w3schools.com/angular/angular_application.asp
-->

<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
//    Step 1.b
    //Adding Items in script
//    $scope.addItem = function () {
//        $scope.products.push($scope.addMe);
//    }    
    
    //Step 2.b
    //Removing Items in script
//    $scope.removeItem = function (x) {
//        $scope.products.splice(x, 1);
//    }
});
</script>

<div ng-app="myShoppingList" ng-controller="myCtrl">
  <ul>
    <li ng-repeat="x in products">{{x}}
    
    <!-- Step 1.b -->    
    <!-- Removing items in code -->
<!--        <span ng-click="removeItem($index)">×</span>-->
      </li>
  </ul>
    
    <!-- Step 1.a -->
    <!-- Adding Items in code-->
<!--
  <input ng-model="addMe">
  <button ng-click="addItem()">Add</button>
-->
</div>

<p>Click the little x to remove an item from the shopping list.</p>

</body>
</html>
