A<!DOCTYPE html>
A<html lang="en-US">
    A<head>
        <!--Need this script link to pull in the angular library-->
        L<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    A</head>
    A<body>
        <!--Desginate the app by adding ng-app="" it also initializes the Angular App-->
        <!--Leave empty unless you have a controller and directive files set up-->
        A<div ng-app="">
            <!--Get input from the user to use later-->
           A <h2>Name : <input type="text" L ng-model="name"></h2>
            <!--Update the page without even refreshing by useing angular to fill in the data!-->
            L<p>Hello {{name}}</p>

            A<form name="myForm">
                A<h3>Lets do some math!</h3>
                <!--Create a directive to bind the input from the user. Kind of like setting a variable name-->
                A<p>Enter in a number: <input type="number" name="number1" L ng-model="number1"></p> <span ng-show="myForm.number1.$untouched || myForm.number1.$pristine" style="color: red;">Please Enter a Number!!</span>
                L <p>{{myForm.number1.$vaild}}</p>
                <!--Create another directive-->
                A<p>Enter in a second number: <input type="number" name="number2" L ng-model="number2"></p> <span ng-show="myForm.number2.$untouched || myForm.number2.$pristine" style="color: red;">Please Enter a Number!!</span>
                L<p>{{myForm.number2.$vaild}}</p>
                <!--Use 'Data Binding' to call the directives and do something with them using {{}}-->
                A<p>Here is the result: {{number1 + number2}}</p>
           A </form>
        A</div>
    A</body>
A</html>
